DB_CONNECTION=sqlite
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=multiflexi
DB_USERNAME=multiflexi
DB_PASSWORD=changeme
APP_DEBUG=false
EASE_LOGGER=syslog
MULTIFLEXI_DAEMONIZE=true
MULTIFLEXI_CYCLE_PAUSE=10
