/vendor/
debian/.debhelper/
debian/multiflexi-eventor/
debian/multiflexi-eventor.substvars
debian/multiflexi-eventor.debhelper.log
debian/files
debian/tmp/composer.json
/nbproject/private/
/.env
.build/
